* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html,
  body {
	height: 100%;
  }
  
  body {
	color: #333;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #f0f0f0;
	
  }
  
  main {
	flex: 1 0 auto;
	
	
  }
.contenedor {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 10px;
	
	
}
.lista  {
	height: 30px;
	margin: 0px 20px;
	border: 3px solid #294076;
	border-radius: 5px;	
}

.lista:focus {
	outline: 0;
	border: 3px solid #7cca12;
}

.buscador{
	height: 30px;
	padding: 10px;
	width: 100%;
	min-width: 25%;
	border: 3px solid #294076;
	border-radius: 5px;
	background-color: #fff;
	 
}
input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	/*
	content: URL(fa-xmark);
	cursor: pointer;
	*/
   }

.buscador:focus{
	outline: 0;
	border: 3px solid #7cca12;
}
.boton-formulario{
	height: 30px;
	width: 25%;
	border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
	background-color: #7cca12;	
	color: #fff;
    padding: 0 30px;
	transition: 0.4s;
	
}
.boton-formulario:hover{
	background-color: #B31268;	
	transform: scale(1.05 , 1.05);
}

table {	
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #484747;
	text-align: left;
	padding: 8px;
  }

  

  tr:nth-child(even) {
	background-color: #dddddd;
  }
.caja {	
	margin: 4px;
	padding: 4px;
	
}

