<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #294076;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <b>PQRSD</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        {{!-- <li class="nav-item">
          <a class="nav-link link-light"  href="#">Principal</a>
        </li> --}}
        {{#if name}}
          <li class="nav-item">
            <a class="nav-link link-light" href="/add">Crear</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/list">Listar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/logout">Cerrar Sesion</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link link-light" href="/login">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/login">{{name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/register">Registrar</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>