<nav aria-label="Page navigation example  ">
  <ul class="pagination ">
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=1&limit=7">1</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=2&limit=7">2</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=3&limit=7">3</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=4&limit=7">4</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=5&limit=7">5</a></li>   
  </ul>
</nav>