<nav aria-label="Page navigation example  ">
  <ul class="pagination ">
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=1&limit=50">1</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=2&limit=50">2</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=3&limit=50">3</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=4&limit=50">4</a></li>   
    <li class="page-item"><a class="page-link text-secondary" href="/list-page?page=5&limit=50">5</a></li>   
  </ul>
</nav>