<nav aria-label="Page navigation example  ">
  <ul class="pagination ">
    <li class="page-item"><a class="page-link text-secondary" href="/list/page?page=1&limit=4">1</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="/list/page?page=2&limit=4">2</a></li>
    <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>   
  </ul>
</nav>